@import "./../../sassStyles/index";

.intro {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-overlay;

    width: 100vw;
    max-width: $max-width-screen;
    height: 100vh;

    animation: intro 1s forwards ease-out;
    animation-delay: 0.3s;

    @keyframes intro {

        to {
            // opacity: 0;
            transform: translateY(-100%);
            visibility: hidden;
            height: 0;
            z-index: -1;
        }
    }
}