@import "./../../sassStyles/index";

.intro {
    position: fixed;
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: rgb(25, 25,25);
    animation-name: intro-change-background;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    z-index: $z-index-overlay;

    @include flex-align-justify("center","center");

    .intro__logo {
        font-size: 10rem;
    }

    @keyframes intro-change-background {
        0% {
            background-color: rgb(25, 25,25);
            opacity: 1;
            color: #FFF;
        }

        80% {
            opacity: 1;
            background-color: rgb(25, 25,25);
            color: #FFF;
            z-index: $z-index-overlay;
        }

        100% {
            opacity: 0;
            visibility: hidden;
            z-index: -1;
        }
    }
}