@import "./../../sassStyles/index";

.serviceMenu {

    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    ;

    & input[type=radio] {
        display: none;
    }

    &__labels {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__label {
            position: absolute;
            width: 50vh;
            height: 50vh;
            top: 10vh;
            left: 30vh;
            // right: 0;
            margin: auto;
            transition: all 0.4s ease;
            cursor: pointer;

            box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
            border-radius: 5px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 5px;
            }
        }


        &__background {
            position: absolute;
            top: 60vh;
            left: 0;
            height: 100%;
            font-size: 15rem;
            opacity: 0;
            z-index: 1;
            transition: all 0.4s ease;

        }

    }
}

#slide-1:checked~.serviceMenu__labels #item-5,
#slide-2:checked~.serviceMenu__labels #item-1,
#slide-3:checked~.serviceMenu__labels #item-2,
#slide-4:checked~.serviceMenu__labels #item-3,
#slide-5:checked~.serviceMenu__labels #item-4 {
    transform: translate(60%, -5%) scale(0.5);
    filter: grayscale(90%);
    z-index: 0;
}

#slide-1:checked~.serviceMenu__labels #item-4,
#slide-2:checked~.serviceMenu__labels #item-5,
#slide-3:checked~.serviceMenu__labels #item-1,
#slide-4:checked~.serviceMenu__labels #item-2,
#slide-5:checked~.serviceMenu__labels #item-3 {
    transform: translate(40%, -5%) scale(0.6);
    filter: grayscale(80%);
    z-index: 1;
}

#slide-1:checked~.serviceMenu__labels #item-3,
#slide-2:checked~.serviceMenu__labels #item-4,
#slide-3:checked~.serviceMenu__labels #item-5,
#slide-4:checked~.serviceMenu__labels #item-1,
#slide-5:checked~.serviceMenu__labels #item-2 {
    transform: translate(15%, -5%) scale(0.7);
    filter: grayscale(70%);
    z-index: 2;
}

#slide-1:checked~.serviceMenu__labels #item-2,
#slide-2:checked~.serviceMenu__labels #item-3,
#slide-3:checked~.serviceMenu__labels #item-4,
#slide-4:checked~.serviceMenu__labels #item-5,
#slide-5:checked~.serviceMenu__labels #item-1 {
    transform: translate(-10%, -5%) scale(0.8);
    filter: grayscale(60%);
    z-index: 3;
}

#slide-1:checked~.serviceMenu__labels #item-1,
#slide-2:checked~.serviceMenu__labels #item-2,
#slide-3:checked~.serviceMenu__labels #item-3,
#slide-4:checked~.serviceMenu__labels #item-4,
#slide-5:checked~.serviceMenu__labels #item-5 {
    transform: translateX(-40%) scale(1);
    filter: grayscale(0%);
    z-index: 4;
}

// #slide-1:checked~.serviceMenu__labels #item-3,
// #slide-2:checked~.serviceMenu__labels #item-4,
// #slide-3:checked~.serviceMenu__labels #item-5,
// #slide-4:checked~.serviceMenu__labels #item-1,
// #slide-5:checked~.serviceMenu__labels #item-2 {
//     transform: translatex(80%) scale(0.6);
//     // opacity: 0.6;
//     filter: grayscale(100%);
//     z-index: 1;
// }

// #slide-1:checked~.serviceMenu__labels #item-2,
// #slide-2:checked~.serviceMenu__labels #item-3,
// #slide-3:checked~.serviceMenu__labels #item-4,
// #slide-4:checked~.serviceMenu__labels #item-5,
// #slide-5:checked~.serviceMenu__labels #item-1 {
//     transform: translatex(50%) scale(0.8);
//     // opacity: 0.8;
//     filter: grayscale(100%);
//     z-index: 2;
// }

// #slide-1:checked~.serviceMenu__labels #item-1,
// #slide-2:checked~.serviceMenu__labels #item-2,
// #slide-3:checked~.serviceMenu__labels #item-3,
// #slide-4:checked~.serviceMenu__labels #item-4,
// #slide-5:checked~.serviceMenu__labels #item-5 {
//     transform: translatex(0%) scale(1);
//     // opacity: 1;
//     z-index: 3;
// }


// #slide-1:checked~.serviceMenu__labels #item-5,
// #slide-2:checked~.serviceMenu__labels #item-1,
// #slide-3:checked~.serviceMenu__labels #item-2,
// #slide-4:checked~.serviceMenu__labels #item-3,
// #slide-5:checked~.serviceMenu__labels #item-4 {
//     transform: translatex(-50%) scale(0.8);
//     // opacity: 0.8;
//     filter: grayscale(100%);
//     z-index: 2;
// }

// #slide-1:checked~.serviceMenu__labels #item-4,
// #slide-2:checked~.serviceMenu__labels #item-5,
// #slide-3:checked~.serviceMenu__labels #item-1,
// #slide-4:checked~.serviceMenu__labels #item-2,
// #slide-5:checked~.serviceMenu__labels #item-3 {
//     transform: translatex(-80%) scale(0.6);
//     // opacity: 0.6;
//     filter: grayscale(100%);
//     z-index: 1;
// }

// #slide-1:checked~.serviceMenu__labels #item-1 img,
// #slide-2:checked~.serviceMenu__labels #item-2 img,
// #slide-3:checked~.serviceMenu__labels #item-3 img,
// #slide-4:checked~.serviceMenu__labels #item-4 img,
// #slide-5:checked~.serviceMenu__labels #item-5 img {
//     box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
// }

// #slide-1:checked~.serviceMenu__labels #item-3,
// #slide-2:checked~.serviceMenu__labels #item-4,
// #slide-3:checked~.serviceMenu__labels #item-5,
// #slide-4:checked~.serviceMenu__labels #item-1,
// #slide-5:checked~.serviceMenu__labels #item-2 {
//     transform: translateY(60%) scale(0.4);
//     opacity: 0.6;
//     filter: grayscale(100%);
//     z-index: 1;
// }

// #slide-1:checked~.serviceMenu__labels #item-2,
// #slide-2:checked~.serviceMenu__labels #item-3,
// #slide-3:checked~.serviceMenu__labels #item-4,
// #slide-4:checked~.serviceMenu__labels #item-5,
// #slide-5:checked~.serviceMenu__labels #item-1 {
//     transform: translateY(30%) scale(0.8);
//     opacity: 0.8;
//     filter: grayscale(100%);
//     z-index: 2;
// }

// #slide-1:checked~.serviceMenu__labels #item-1,
// #slide-2:checked~.serviceMenu__labels #item-2,
// #slide-3:checked~.serviceMenu__labels #item-3,
// #slide-4:checked~.serviceMenu__labels #item-4,
// #slide-5:checked~.serviceMenu__labels #item-5 {
//     transform: translateY(0%) scale(1);
//     opacity: 1;
//     z-index: 3;
// }


// #slide-1:checked~.serviceMenu__labels #item-5,
// #slide-2:checked~.serviceMenu__labels #item-1,
// #slide-3:checked~.serviceMenu__labels #item-2,
// #slide-4:checked~.serviceMenu__labels #item-3,
// #slide-5:checked~.serviceMenu__labels #item-4 {
//     transform: translateY(-30%) scale(0.8);
//     opacity: 0.8;
//     filter: grayscale(100%);
//     z-index: 2;
// }

// #slide-1:checked~.serviceMenu__labels #item-4,
// #slide-2:checked~.serviceMenu__labels #item-5,
// #slide-3:checked~.serviceMenu__labels #item-1,
// #slide-4:checked~.serviceMenu__labels #item-2,
// #slide-5:checked~.serviceMenu__labels #item-3 {
//     transform: translateY(-60%) scale(0.4);
//     opacity: 0.6;
//     filter: grayscale(100%);
//     z-index: 1;
// }


// #slide-1:checked~.serviceMenu__labels #item-3,
// #slide-2:checked~.serviceMenu__labels #item-4,
// #slide-3:checked~.serviceMenu__labels #item-5,
// #slide-4:checked~.serviceMenu__labels #item-1,
// #slide-5:checked~.serviceMenu__labels #item-2 {
//     transform: translatex(60%) scale(0.6);
//     // opacity: 0.6;
//     filter: grayscale(100%);
//     z-index: 1;
// }

// #slide-1:checked~.serviceMenu__labels #item-2,
// #slide-2:checked~.serviceMenu__labels #item-3,
// #slide-3:checked~.serviceMenu__labels #item-4,
// #slide-4:checked~.serviceMenu__labels #item-5,
// #slide-5:checked~.serviceMenu__labels #item-1 {
//     transform: translatex(30%) scale(0.8);
//     // opacity: 0.8;
//     filter: grayscale(100%);
//     z-index: 2;
// }

// #slide-1:checked~.serviceMenu__labels #item-1,
// #slide-2:checked~.serviceMenu__labels #item-2,
// #slide-3:checked~.serviceMenu__labels #item-3,
// #slide-4:checked~.serviceMenu__labels #item-4,
// #slide-5:checked~.serviceMenu__labels #item-5 {
//     transform: translatex(0%) scale(1);
//     // opacity: 1;
//     z-index: 3;
// }


// #slide-1:checked~.serviceMenu__labels #item-5,
// #slide-2:checked~.serviceMenu__labels #item-1,
// #slide-3:checked~.serviceMenu__labels #item-2,
// #slide-4:checked~.serviceMenu__labels #item-3,
// #slide-5:checked~.serviceMenu__labels #item-4 {
//     transform: translatex(-30%) scale(0.8);
//     // opacity: 0.8;
//     filter: grayscale(100%);
//     z-index: 2;
// }

// #slide-1:checked~.serviceMenu__labels #item-4,
// #slide-2:checked~.serviceMenu__labels #item-5,
// #slide-3:checked~.serviceMenu__labels #item-1,
// #slide-4:checked~.serviceMenu__labels #item-2,
// #slide-5:checked~.serviceMenu__labels #item-3 {
//     transform: translatex(-60%) scale(0.6);
//     // opacity: 0.6;
//     filter: grayscale(100%);
//     z-index: 1;
// }

// #slide-1:checked~.serviceMenu__labels #item-1 img,
// #slide-2:checked~.serviceMenu__labels #item-2 img,
// #slide-3:checked~.serviceMenu__labels #item-3 img,
// #slide-4:checked~.serviceMenu__labels #item-4 img,
// #slide-5:checked~.serviceMenu__labels #item-5 img {
//     box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
// }

#slide-1:checked~.serviceMenu__labels {
    background-color: rgb(255, 255, 255);
}

#slide-2:checked~.serviceMenu__labels {
    background-color: rgb(255, 255, 255);
}

#slide-3:checked~.serviceMenu__labels {
    background-color: rgb(255, 255, 255);
}

#slide-4:checked~.serviceMenu__labels {
    background-color: rgb(255, 255, 255);
}

#slide-5:checked~.serviceMenu__labels {
    background-color: rgb(255, 255, 255);
}

#slide-1:checked~.serviceMenu__labels #background-1,
#slide-2:checked~.serviceMenu__labels #background-2,
#slide-3:checked~.serviceMenu__labels #background-3,
#slide-4:checked~.serviceMenu__labels #background-4,
#slide-5:checked~.serviceMenu__labels #background-5 {
    opacity: 1;
    color: rgb(25, 25, 25);
}

// #slide-2:checked~.serviceMenu__labels #background-2,
// #slide-4:checked~.serviceMenu__labels #background-4 {
//     opacity: 1;
//     color: rgb(255, 255, 255);
// }