@import "./../../sassStyles/index";

.caroussel {
    width: 80%;
    height: 90vh;
    transform-style: preserve-3d;
    @include flex-align-justify(center, center);
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 6rem;


    & input {
        display: none;
    }

    &--active {

        @for $i from 1 to 6 {
            & #item-#{$i} {
                opacity: 1;
            }
        }

        & #item-5 {
            transform: translate(60%, -5%) scale(0.5);
            filter: grayscale(100%);
            z-index: 0;
        }

        & #item-4 {
            transform: translate(40%, -5%) scale(0.6);
            filter: grayscale(80%);
            z-index: 1;
        }

        & #item-3 {
            transform: translate(15%, -5%) scale(0.7);
            filter: grayscale(60%);
            z-index: 2;
        }

        & #item-2 {
            transform: translate(-10%, -5%) scale(0.8);
            filter: grayscale(40%);
            z-index: 3;
        }

        & #item-1 {
            transform: translateX(-40%) scale(1);
            z-index: 4;
        }
    }

    &__labels {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;

        & #item-1 {
            opacity: 1;
        }

        &__label {
            position: absolute;
            width: 60%;
            height: 100%;
            left: 0;
            right: 0;
            margin: auto;
            transition: transform 0.4s ease-in-out;
            cursor: pointer;
            opacity: 0;

            & img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                -o-object-fit: cover;
                object-fit: cover;
                box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
            }
        }
    }
}

#slide-1:checked~.caroussel__labels #item-5,
#slide-2:checked~.caroussel__labels #item-1,
#slide-3:checked~.caroussel__labels #item-2,
#slide-4:checked~.caroussel__labels #item-3,
#slide-5:checked~.caroussel__labels #item-4 {
    transform: translate(60%, -5%) scale(0.5);
    filter: grayscale(100%);
    z-index: 0;
}

#slide-1:checked~.caroussel__labels #item-4,
#slide-2:checked~.caroussel__labels #item-5,
#slide-3:checked~.caroussel__labels #item-1,
#slide-4:checked~.caroussel__labels #item-2,
#slide-5:checked~.caroussel__labels #item-3 {
    transform: translate(40%, -5%) scale(0.6);
    filter: grayscale(80%);
    z-index: 1;
}

#slide-1:checked~.caroussel__labels #item-3,
#slide-2:checked~.caroussel__labels #item-4,
#slide-3:checked~.caroussel__labels #item-5,
#slide-4:checked~.caroussel__labels #item-1,
#slide-5:checked~.caroussel__labels #item-2 {
    transform: translate(15%, -5%) scale(0.7);
    filter: grayscale(60%);
    z-index: 2;
}

#slide-1:checked~.caroussel__labels #item-2,
#slide-2:checked~.caroussel__labels #item-3,
#slide-3:checked~.caroussel__labels #item-4,
#slide-4:checked~.caroussel__labels #item-5,
#slide-5:checked~.caroussel__labels #item-1 {
    transform: translate(-10%, -5%) scale(0.8);
    filter: grayscale(40%);
    z-index: 3;
}

#slide-1:checked~.caroussel__labels #item-1,
#slide-2:checked~.caroussel__labels #item-2,
#slide-3:checked~.caroussel__labels #item-3,
#slide-4:checked~.caroussel__labels #item-4,
#slide-5:checked~.caroussel__labels #item-5 {
    transform: translateX(-40%) scale(1);
    filter: grayscale(0%);
    z-index: 4;
}