@import "./../../sassStyles/index";

.scene {
    position: relative;
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    &--active {
        .scene__bottom {
            // animation: bottom 3s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
            // top: 70%;
            // left: 60%;
            transform: scale(0.5) translateX(-100vw) translateY(-50vh) rotateX(-70deg) rotateY(0deg) rotateZ(60deg);
            background-position: 0% 0%;
        }

        & .scene__bottom__left {
            background-position: 100% 0%
        }

        & .scene__bottom__right {
            background-position: 0% 0%
        }
    }

    &__bottom {
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100vh;
        height: 100vw;

        background: linear-gradient(-45deg, rgb(255, 255, 255), 95%, rgb(173, 173, 173));
        background-size: 200% 100%;
        background-position: 100% 0%;

        transform: translateX(0px) translateY(0px) rotateX(-90deg) rotateY(0deg) rotateZ(90deg);
        transform-style: preserve-3d;
        transform-origin: 0% 0%;
        transition: 3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-property: transform;

        &__left {
            position: absolute;
            top: 0%;
            left: 0%;
            $leftWidth: 100vw;
            $leftHeight: 100vh;
            width: $leftWidth;
            height: $leftHeight;

            background: linear-gradient(-225deg, rgb(255, 255, 255), 98%, rgb(173, 173, 173));
            background-size: 200% 100%;
            background-position: 0% 0%;

            transform: translateX(calc(2px + (-1 * $leftWidth))) translateY(calc(0px + (-1 * $leftHeight))) rotateX(0deg) rotateY(-90deg) rotateZ(-90deg);
            transform-origin: 100% 100%;
            transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        &__right {
            position: absolute;
            top: 0%;
            left: 0%;
            $rightWidth: 100vh;
            $rightHeight: 100vw;
            width: $rightWidth;
            height: $rightWidth;

            background: linear-gradient(-135deg, rgb(255, 255, 255), 94%, rgb(173, 173, 173));
            background-size: 200% 100%;
            background-position: 100% 0%;

            transform: translateX(2px) translateY(calc(1px + -100%)) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
            transform-origin: 0% 100%;
            transition: all 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }
}