@import "./../../sassStyles/index";

@mixin cloudAnimation($unit) {
    &__cloudAnimation {
        width: 4px*$unit;
        height: 250px/100*$unit;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 50px/100*$unit;


        &__center {
            position: relative;
            background-color: rgb(60, 106, 255);
            background-color: #FFF;

            width: calc(3px*$unit);
            height: calc(1px*$unit);
            border-radius: calc(150px/100*$unit);
            box-shadow: calc(10px/100*$unit) calc(10px/100*$unit) rgba(0, 0, 0, 0.06);
            animation: move 3s infinite;
        }

        &__center:after {
            content: '';
            background-color: rgb(60, 106, 255);
            background-color: #FFF;

            position: absolute;
            width: calc(1px*$unit);
            height: calc(1px*$unit);
            border-radius: calc(50px/100*$unit);
            top: calc(-1*50px/100*$unit);
            left: calc(50px/100*$unit);
        }

        &__center:before {
            content: '';
            background-color: rgb(60, 106, 255);
            background-color: #FFF;

            position: absolute;
            width: calc(150px/100*$unit);
            height: calc(150px/100*$unit);
            border-radius: calc(100px/2*$unit);
            top: calc(-1*90px/100*$unit);
            right: calc(40px/100*$unit);
        }
    }
}

.cloud {

    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(25, 25, 25);
    color: #FFF;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__animation {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 100%;
            @include cloudAnimation(80);
        }

        &__wrapperText {
            width: 30%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &__title {
            }

            &__text {
            }
        }
    }

    &__arrow {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;

        background-color: rgb(25, 25, 25);

        transition: transform 0.5s ease-in-out;


        &:hover {
            transform: translateY(15px) scale(1.1);
        }

        &:hover::before,&:hover::after {
            background-color: #FFF;
        }

        &::before {
            position: absolute;
            content: '';
            width: 30px;
            height: 4px;
            background-color: rgb(155, 155, 155);
            transform: translateX(-1px) rotate(135deg);
            transform-origin: right center;

        }

        &::after {
            position: absolute;
            content: '';
            width: 30px;
            height: 4px;
            background-color: rgb(155, 155, 155);
            transform: translateX(1px) rotate(45deg);
            transform-origin: right center;

        }
    }
}