@import "./../../sassStyles/index";

@mixin phoneScene($unit) {
    .phoneScene {
        position: relative;
        // transform: rotate(30deg) skewX(-30deg) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        // transform: rotate(90deg) skewX(0deg) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: rotate(70deg) skewX(0deg) rotateX(0deg) rotateY(0deg) rotateZ(16deg);

        &--active {
            // animation: phone-right 2s forwards ease-in-out;
        }

        &__base {
            height: 800px/100*$unit;
            width: 403px/100*$unit;
            background-image: linear-gradient(to bottom, #3a3b3f 70%, #1d1d1f);
            border-radius: 64px/100*$unit 99px/100*$unit 80px/100*$unit 100px/100*$unit;

            box-shadow:
                11px/100*$unit 8px/100*$unit 10px/100*$unit 0 rgba(0, 0, 0, 0.3),
                inset 3px/100*$unit -4px/100*$unit 11px/100*$unit 0px/100*$unit rgba(202, 202, 202, 0.377),
                inset 1px/100*$unit 3px/100*$unit 3px/100*$unit -3px/100*$unit rgba(138, 136, 136, 0.253);

            &__screen {
                position: absolute;
                transform: translate(11px/100*$unit, 6px/100*$unit);
                height: 764px/100*$unit;
                width: 362px/100*$unit;
                background-image: linear-gradient(0deg, #000000 50%, rgba(0, 0, 0, 0.643));
                border-radius: 54px/100*$unit 70px/100*$unit 80px/100*$unit 54px/100*$unit;
                box-shadow: 2px/100*$unit 0 0 -1px/100*$unit rgba(255, 255, 255, 0.4), 1px/100*$unit 3px/100*$unit 3px/100*$unit -3px/100*$unit rgba(255, 255, 255, 0.7);
            }

            &__camera-top {
                position: absolute;
                transform: translate(110px/100*$unit, 9px/100*$unit);
                height: 37px/100*$unit;
                width: 125px/100*$unit;
                background-image: linear-gradient(to top, #000000 20%, rgb(32, 32, 32));
                border-radius: 0 0 18px/100*$unit 18px/100*$unit;
                z-index: 2;
            }

            &__microphone {
                position: absolute;
                transform: translate(133px/100*$unit, 22px/100*$unit);
                height: 11px/100*$unit;
                width: 86px/100*$unit;
                background-color: rgba(145, 144, 144, 0.17);
                border-radius: 10px/100*$unit 10px/100*$unit 10px/100*$unit 10px/100*$unit;
                box-shadow: -3px/100*$unit -2px/100*$unit 1px/100*$unit 0 rgba(135, 130, 130, 0.25);
                z-index: 3;
            }

            &__charger {
                position: absolute;
                width: 48px/100*$unit;
                height: 11px/100*$unit;
                border-radius: 20px/100*$unit;
                background-color: rgba(12, 12, 12, 0.702);
                transform: translate(170px/100*$unit, 786px/100*$unit) skewX(45deg);
                box-shadow: inset 5px/100*$unit -3px/100*$unit 0 -1px/100*$unit rgba(255, 255, 255, 0.4);
            }

            &__volume-1 {
                position: absolute;
                width: 14px/100*$unit;
                height: 55px/100*$unit;
                border-radius: 7px/100*$unit;
                background-color: rgba(27, 26, 26, 0.4);
                transform: translate(379px/100*$unit, 169px/100*$unit) skewY(45deg);

                &::before {
                    position: absolute;
                    width: 13px/100*$unit;
                    height: 56px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: inset 4px/100*$unit -2px/100*$unit 0 0 #777777;
                }

                &::after {
                    position: absolute;
                    width: 14px/100*$unit;
                    height: 55px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: -2px/100*$unit 2px/100*$unit 1px/100*$unit 0 black;
                }
            }

            &__volume-2 {
                position: absolute;
                width: 14px/100*$unit;
                height: 55px/100*$unit;
                border-radius: 7px/100*$unit;
                background-color: rgba(27, 26, 26, 0.4);
                transform: translate(379px/100*$unit, 245px/100*$unit) skewY(45deg);

                &::before {
                    position: absolute;
                    width: 13px/100*$unit;
                    height: 56px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: inset 4px/100*$unit -2px/100*$unit 0 0 #777777;
                }

                &::after {
                    position: absolute;
                    width: 14px/100*$unit;
                    height: 55px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: -2px/100*$unit 2px/100*$unit 1px/100*$unit 0 black;
                }
            }

            &__message {
                position: absolute;
                transform: translate(18px/100*$unit, 16px/100*$unit);
                height: 745px/100*$unit;
                width: 343px/100*$unit;
                border-radius: 54px/100*$unit 52px/100*$unit 80px/100*$unit 47px/100*$unit;
                overflow: hidden;
                z-index: 1;
            }
        }

        @keyframes phone-right {
            0% {
                transform: rotate(30deg) skewX(-30deg) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            }

            100% {
                transform: scale(0.7) rotate(132deg) skewX(35deg) rotateX(0deg) rotateY(0deg) rotateZ(-70deg);
            }
        }
    }
}

@include phoneScene(100);