@use "sass:math";
@use "sass:list";
@import "./../../sassStyles/index";

html {
    margin: 0;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: $background-color;

    font-family: "Montserrat", sans-serif;
      /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    color: $font-color;

    overflow-x: hidden;

    border: none;

    // Floud Typography
    @for $i from 1 through length($type-steps) {
        $step: list.nth($type-steps, $i);
        $power: $i - $type-base-index;
        $min: $type-base-min * math.pow($type-scale-min, $power);
        $max: $type-base-max * math.pow($type-scale-max, $power);
        --font-size-#{$step}: #{clamped($min, $max)};
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    font-size: var(--font-size-xl);
    font-weight: 600;
    line-height: 180%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: var(--font-size-lg);
    font-weight: 600;
    line-height: 180%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: var(--font-size-md);
    font-weight: 600;
    line-height: 180%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}