@import "./../../sassStyles/index";

.scene3 {
    grid-row: 2 / 3;
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    min-height: 85vh;
    margin-bottom: 50px;
    overflow: hidden;

    @include loadAnimation;

    transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);

    &__tile {
        animation: textUp 1s forwards ease-out;
        animation-delay: 0.5s;

        @keyframes textUp {
            to {
                transform: translateY(-6px);
            }
        }

    }
}