@import "./../../sassStyles/index";

.gear {
    position: relative;

    // Height: 4 , Width: 6 => ratio 2 gears

    $unit: 15;
    width: calc(6px*$unit);
    height: calc(4px*$unit);

    @include gear(1, calc(1px*$unit), calc(1px*$unit), 1, $unit, rgb(153, 153, 153), rgb(255, 255, 255));
    @include gear(2, calc(150px/100*$unit), calc(335px/100*$unit), -1, $unit, rgb(153, 153, 153), rgb(255, 255, 255));

    @media only screen and (min-width: $screen-md) {

        $unit: 20;
        width: calc(6px*$unit);
        height: calc(4px*$unit);

        @include gear(1, calc(1px*$unit), calc(1px*$unit), 1, $unit, rgb(153, 153, 153), rgb(255, 255, 255));
        @include gear(2, calc(150px/100*$unit), calc(335px/100*$unit), -1, $unit, rgb(153, 153, 153), rgb(255, 255, 255));

    }

    @media only screen and (min-width: $screen-lg) {
        $unit: 30;
        width: calc(6px*$unit);
        height: calc(4px*$unit);

        @include gear(1, calc(1px*$unit), calc(1px*$unit), 1, $unit, rgb(153, 153, 153), rgb(255, 255, 255));
        @include gear(2, calc(150px/100*$unit), calc(335px/100*$unit), -1, $unit, rgb(153, 153, 153), rgb(255, 255, 255));
    }
}