@import "./../../sassStyles/index";

@mixin cloudAnimation($unit) {
    &__cloudAnimation {
        width: 4px*$unit;
        height: 250px/100*$unit;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 50px/100*$unit;


        &__center {
            position: relative;
            background-color: rgb(60, 106, 255);
            // background-color: #FFF;

            width: calc(3px*$unit);
            height: calc(1px*$unit);
            border-radius: calc(150px/100*$unit);
            box-shadow: calc(10px/100*$unit) calc(10px/100*$unit) rgba(0, 0, 0, 0.06);
            animation: move 3s infinite;
        }

        &__center:after {
            content: '';
            background-color: rgb(60, 106, 255);
            // background-color: #FFF;

            position: absolute;
            width: calc(1px*$unit);
            height: calc(1px*$unit);
            border-radius: calc(50px/100*$unit);
            top: calc(-1*50px/100*$unit);
            left: calc(50px/100*$unit);
        }

        &__center:before {
            content: '';
            background-color: rgb(60, 106, 255);
            // background-color: #FFF;

            position: absolute;
            width: calc(150px/100*$unit);
            height: calc(150px/100*$unit);
            border-radius: calc(100px/2*$unit);
            top: calc(-1*90px/100*$unit);
            right: calc(40px/100*$unit);
        }
    }
}

.cloudPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    @include cloudAnimation(30);
}