@mixin flex-align-justify($align, $justify) {
    display: flex;
    align-items: #{$align};
    justify-content: #{$justify};
}


@mixin border-bottom {
    border-bottom: 1px solid $font-color;
}

@mixin border-bottom-light {
    border-bottom: 1px solid $font-color-light;
}

@mixin border-radius-window {
    border-radius: 4px;
}

@mixin box-shadow-window {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

@mixin gear($id, $top, $left, $clockwise, $unit, $color, $color-center) {
    &__parent-#{$id} {
        position: absolute;
        top: $top;
        left: $left;

        transition: transform 3s cubic-bezier(0.215, 0.610, 0.355, 1);

        &__gear-#{$id} {
            position: relative;
            width: $unit*2px;
            height: $unit*2px;
            margin: auto;
            background: $color;
            border-radius: $unit*1px;
            animation-name: spin-#{$id};
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            &__tooth-#{$id} {
                position: absolute;
                top: -1*25px/100*$unit;
                left: 75px/100*$unit;
                z-index: 1;
                width: $unit*45px/100;
                height: $unit*2.5px;
                background: $color;
            }

            &__tooth-#{$id}:nth-child(2) {
                transform: rotate(45deg);
            }

            &__tooth-#{$id}:nth-child(3) {
                transform: rotate(90deg);
            }

            &__tooth-#{$id}:nth-child(4) {
                transform: rotate(135deg);
            }
        }


        &__gear-#{$id} &__gear-#{$id}__center-#{$id} {
            position: absolute;
            top: $unit*50px/100;
            left: $unit*50px/100;
            z-index: 10;
            width: $unit*1px;
            height: $unit*1px;
            background: $color-center;
            border-radius: $unit*50px/100;
        }

        @keyframes spin-#{$id} {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate($clockwise * 360deg);
            }
        }
    }
}

@mixin phoneLeft($unit) {
    .phoneLeft {
        position: relative;
        transform: rotate(-48deg) skewX(-2deg) rotateX(-8deg) rotateY(40deg) rotateZ(37deg);

        --colorFrom: rgb(58, 59, 63);
        --colorTo: rgb(29, 29, 31);

        &--active {
            animation: activePhhoneLeft 3s forwards ease-in-out;
        }

        &--blue {
            --colorFrom: rgb(44, 93, 255);
            --colorTo: rgba(49, 90, 255, 0.973);
        }

        &--green {
            --colorFrom: rgba(137, 255, 83, 0.973);
            --colorTo: rgba(79, 248, 0, 0.973);
        }

        &--purple {
            --colorFrom: rgba(253, 62, 244, 0.973);
            --colorTo: rgba(173, 0, 116, 0.973);
        }

        &--red {
            --colorFrom: rgba(253, 43, 43, 0.9);
            --colorTo: rgba(255, 0, 0, 0.9);
        }

        &__base {
            height: 800px/100*$unit;
            width: 400px/100*$unit;
            background-image: linear-gradient(to bottom, var(--colorFrom) 70%, var(--colorTo));
            border-radius: 85px/100*$unit 64px/100*$unit 80px/100*$unit 80px/100*$unit;
            box-shadow:
                -20px/100*$unit 6px/100*$unit 14px/100*$unit -3px/100*$unit rgba(0, 0, 0, 0.3),
                inset 11px/100*$unit -15px/100*$unit 9px/100*$unit -5px/100*$unit rgba(202, 202, 202, 0.377),
                inset -9px/100*$unit 8px/100*$unit 12px/100*$unit -3px/100*$unit rgba(165, 165, 165, 0.6),
                inset 1px/100*$unit 3px/100*$unit 3px/100*$unit -3px/100*$unit rgba(138, 136, 136, 0.253);

            &__screen {
                position: absolute;
                height: 775px/100*$unit;
                width: 368px/100*$unit;
                // background-image: linear-gradient(0deg, #000000 40%, rgb(34, 28, 28) 60%, #000000);
                background-color: rgb(25, 25, 25);
                border-radius: 60px/100*$unit 61px/100*$unit 60px/100*$unit 80px/100*$unit;
                box-shadow:
                    -2px/100*$unit 0 0 -1px/100*$unit rgba(255, 255, 255, 0.4),
                    -1px/100*$unit 3px/100*$unit 3px/100*$unit -3px/100*$unit rgba(255, 255, 255, 0.7);
                z-index: 1;
                transition: transform 2s ease-in-out;

                &--basic {
                    transform: translate(27px/100*$unit, 5px/100*$unit);
                }

                &--explode {
                    transform: translate(200px/100*$unit, -165px/100*$unit);
                }

                &__cameraTop {
                    position: absolute;
                    transform: translate(130px/100*$unit, 5px/100*$unit);
                    height: 37px/100*$unit;
                    width: 125px/100*$unit;
                    background-image: linear-gradient(180deg, #000000 10%, rgb(65, 60, 60));
                    border-radius: 0 0 18px/100*$unit 18px/100*$unit;
                    z-index: 2;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    transition-delay: 2s;

                    &--basic {
                        opacity: 1;
                    }
                }

                &__messageScreen {
                    position: absolute;
                    transform: translate(15px/100*$unit, 6px/100*$unit);
                    height: 756px/100*$unit;
                    width: 345px/100*$unit;
                    border-radius: 52px/100*$unit 54px/100*$unit 47px/100*$unit 80px/100*$unit;
                    overflow: hidden;
                    z-index: 1;
                }
            }

            &__charger {
                position: absolute;
                width: 48px/100*$unit;
                height: 11px/100*$unit;
                border-radius: 20px/100*$unit;
                background-color: rgb(27, 27, 27);
                box-shadow: inset -3px/100*$unit -3px/100*$unit 0 -1px rgba(255, 255, 255, 0.4);
                transition: transform 2s ease-in-out;

                &--basic {
                    transform: translate(200px/100*$unit, 786px/100*$unit) skewX(-45deg);
                }

                &--explode {
                    transform: translate(200px/100*$unit, 986px/100*$unit) skewX(-45deg);
                }
            }

            &__volume-1 {
                position: absolute;
                width: 14px/100*$unit;
                height: 55px/100*$unit;
                border-radius: 7px/100*$unit;
                background-image: linear-gradient(0deg, #000000 50%, rgb(37, 34, 34));
                box-shadow: 3px/100*$unit 5px/100*$unit 2px/100*$unit -1px/100*$unit rgba(255, 255, 255, 0.178);
                transition: transform 2s ease-in-out;

                &--basic {
                    transform: translate(4px/100*$unit, 169px/100*$unit) skewY(-45deg);
                }

                &--explode {
                    transform: translate(-196px/100*$unit, 169px/100*$unit) skewY(-45deg);
                }

                &::before {
                    position: absolute;
                    width: 10px/100*$unit;
                    height: 53px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: 7px/100*$unit 5px/100*$unit 0 0 #777777;
                }

                &::after {
                    position: absolute;
                    width: 14px/100*$unit;
                    height: 55px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: 4px/100*$unit 4px/100*$unit 2px/100*$unit 0 black;
                }
            }

            &__volume-2 {
                position: absolute;
                width: 14px/100*$unit;
                height: 55px/100*$unit;
                border-radius: 7px/100*$unit;
                background-image: linear-gradient(0deg, #000000 50%, rgb(37, 34, 34));
                box-shadow: 3px/100*$unit 5px/100*$unit 2px/100*$unit -1px/100*$unit rgba(255, 255, 255, 0.178);
                transition: transform 2s ease-in-out;

                &--basic {
                    transform: translate(4px/100*$unit, 245px/100*$unit) skewY(-45deg);
                }

                &--explode {
                    transform: translate(-166px/100*$unit, 245px/100*$unit) skewY(-45deg);
                }

                &::before {
                    position: absolute;
                    width: 10px/100*$unit;
                    height: 53px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: 7px/100*$unit 5px/100*$unit 0 0px/100*$unit #777777;
                }

                &::after {
                    position: absolute;
                    width: 14px/100*$unit;
                    height: 55px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: 4px/100*$unit 4px/100*$unit 2px/100*$unit 0 black;
                }
            }
        }

        @keyframes activePhhoneLeft {
            0% {
                transform: translateX(50%) rotate(-30deg) skewX(30deg) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                // transform: rotate(-58deg) skewX(-2deg) rotateX(-8deg) rotateY(40deg) rotateZ(37deg);
            }

            100% {
                transform: rotate(-48deg) skewX(-2deg) rotateX(-8deg) rotateY(40deg) rotateZ(37deg);
            }
        }
    }
}

@mixin phoneRight($unit) {
    .phoneRight {
        position: relative;
        transform: scale(0.8) rotate(30deg) skewX(-30deg) rotateX(0deg) rotateY(0deg) rotateZ(0deg);

        --colorFrom: rgb(58, 59, 63);
        --colorTo: rgb(29, 29, 31);

        &--active {
            animation: activePhhoneRight 3s forwards ease-in-out;
        }

        &--blue {
            --colorFrom: rgba(83, 118, 255, 0.973);
            --colorTo: rgba(49, 90, 255, 0.973);
        }

        &--green {
            --colorFrom: rgba(137, 255, 83, 0.973);
            --colorTo: rgba(79, 248, 0, 0.973);
        }

        &--purple {
            --colorFrom: rgba(253, 62, 244, 0.973);
            --colorTo: rgba(173, 0, 116, 0.973);
        }

        &--red {
            --colorFrom: rgba(253, 43, 43, 0.9);
            --colorTo: rgba(255, 0, 0, 0.9);
        }

        &__base {
            height: 800px/100*$unit;
            width: 403px/100*$unit;
            background-image: linear-gradient(to bottom, var(--colorFrom) 70%, var(--colorTo));
            border-radius: 64px/100*$unit 99px/100*$unit 80px/100*$unit 100px/100*$unit;

            box-shadow:
                11px/100*$unit 8px/100*$unit 10px/100*$unit 0 rgba(0, 0, 0, 0.3),
                inset 3px/100*$unit -4px/100*$unit 11px/100*$unit 0px/100*$unit rgba(202, 202, 202, 0.377),
                inset 1px/100*$unit 3px/100*$unit 3px/100*$unit -3px/100*$unit rgba(138, 136, 136, 0.253);

            &__screen {
                position: absolute;
                height: 764px/100*$unit;
                width: 362px/100*$unit;
                // background-image: linear-gradient(0deg, #000000 40%, rgb(34, 28, 28) 60%, #000000);
                background-color: rgb(25, 25, 25);
                border-radius: 54px/100*$unit 70px/100*$unit 80px/100*$unit 54px/100*$unit;
                box-shadow:
                    2px/100*$unit 0 0 -1px/100*$unit rgba(255, 255, 255, 0.4),
                    1px/100*$unit 3px/100*$unit 3px/100*$unit -3px/100*$unit rgba(255, 255, 255, 0.7);
                z-index: 1;
                transition: transform 3s ease-in-out;

                &--basic {
                    transform: translate(11px/100*$unit, 6px/100*$unit);
                }

                &--explode {
                    transform: translate(-200px/100*$unit, -230px/100*$unit);
                }


                &__cameraTop {
                    position: absolute;
                    transform: translate(98px/100*$unit, 9px/100*$unit);
                    height: 37px/100*$unit;
                    width: 125px/100*$unit;
                    background-image: linear-gradient(180deg, #000000 10%, rgb(65, 60, 60));
                    border-radius: 0 0 18px/100*$unit 18px/100*$unit;
                    z-index: 2;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                    transition-delay: 3s;

                    &--basic {
                        opacity: 1;
                    }
                }

                &__messageScreen {
                    position: absolute;
                    transform: translate(8px/100*$unit, 10px/100*$unit);
                    height: 745px/100*$unit;
                    width: 343px/100*$unit;
                    border-radius: 54px/100*$unit 52px/100*$unit 80px/100*$unit 47px/100*$unit;
                    overflow: hidden;
                    z-index: 1;
                }
            }

            &__charger {
                position: absolute;
                width: 48px/100*$unit;
                height: 11px/100*$unit;
                border-radius: 20px/100*$unit;
                background-color: rgb(27, 27, 27);
                box-shadow: inset 5px/100*$unit -3px/100*$unit 0 -1px/100*$unit rgba(255, 255, 255, 0.4);
                transition: transform 3s ease-in-out;

                &--basic {
                    transform: translate(170px/100*$unit, 782px/100*$unit) skewX(45deg);
                }

                &--explode {
                    transform: translate(170px/100*$unit, 982px/100*$unit) skewX(45deg);
                }
            }

            &__volume-1 {
                position: absolute;
                width: 14px/100*$unit;
                height: 55px/100*$unit;
                border-radius: 7px/100*$unit;
                background-image: linear-gradient(0deg, #000000 50%, rgb(37, 34, 34));
                transition: transform 3s ease-in-out;

                &--basic {
                    transform: translate(383px/100*$unit, 169px/100*$unit) skewY(45deg);
                }

                &--explode {
                    transform: translate(583px/100*$unit, 169px/100*$unit) skewY(45deg);
                }

                &::before {
                    position: absolute;
                    width: 13px/100*$unit;
                    height: 56px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: inset 4px/100*$unit -2px/100*$unit 0 0 #777777;
                }

                &::after {
                    position: absolute;
                    width: 14px/100*$unit;
                    height: 55px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: -2px/100*$unit 2px/100*$unit 1px/100*$unit 0 black;
                }
            }

            &__volume-2 {
                position: absolute;
                width: 14px/100*$unit;
                height: 55px/100*$unit;
                border-radius: 7px/100*$unit;
                background-image: linear-gradient(0deg, #000000 50%, rgb(37, 34, 34));
                transition: transform 3s ease-in-out;

                &--basic {
                    transform: translate(383px/100*$unit, 245px/100*$unit) skewY(45deg);
                }

                &--explode {
                    transform: translate(583px/100*$unit, 245px/100*$unit) skewY(45deg);
                }

                &::before {
                    position: absolute;
                    width: 13px/100*$unit;
                    height: 56px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: inset 4px/100*$unit -2px/100*$unit 0 0 #777777;
                }

                &::after {
                    position: absolute;
                    width: 14px/100*$unit;
                    height: 55px/100*$unit;
                    border-radius: 7px/100*$unit;
                    content: '';
                    box-shadow: -2px/100*$unit 2px/100*$unit 1px/100*$unit 0 black;
                }
            }
        }

        @keyframes activePhhoneRight {
            0% {
                transform: scale(0.8) rotate(30deg) skewX(-30deg) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            }

            100% {
                transform: rotate(18deg) skewX(-30deg) rotateX(20deg) rotateY(0deg) rotateZ(0deg);
            }
        }
    }
}

@mixin depth($unit) {
    .depth {

        position: relative;
        width: 100%;
        height: 100%;
        @include flex-align-justify(center, center);

        transform-style: preserve-3d;

        transform: translateX(0px/100*$unit) translateY(0px/100*$unit) translateZ(0px/100*$unit) skewX(0deg) skewY(0deg) rotateX(70deg) rotateY(0deg) rotateZ(45deg);


        &__floor {
            position: absolute;
            width: $unit*1px;
            height: $unit*1px;
            margin: 0px;
            padding: 0px;
            border: none;
            overflow: hidden;

            transform: translateX(0px/100*$unit) translateY(0px/100*$unit) translateZ(-1px*$unit/2) skewX(0deg) skewY(0deg) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
            background-image: linear-gradient(45deg, #ffffff 70%, #c1c1c1);
        }

        &__wallRight {
            position: absolute;
            width: $unit*1px;
            height: $unit*1px;
            margin: 0px;
            padding: 0px;
            border: none;
            overflow: hidden;

            transform: translateX(0px/100*$unit) translateY(-50%) translateZ(0px/100*$unit) skewX(0deg) skewY(0deg) rotateX(270deg) rotateY(0deg) rotateZ(0deg);
            background-image: linear-gradient(225deg, #ffffff 70%, #c1c1c1);
        }

        &__wallLeft {
            position: absolute;
            width: $unit*1px;
            height: $unit*1px;
            margin: 0px;
            padding: 0px;
            border: none;
            overflow: hidden;

            transform: translateX(-50%) translateY(0px/100*$unit) translateZ(0px/100*$unit) skewX(0deg) skewY(0deg) rotateX(-90deg) rotateY(90deg) rotateZ(0deg);
            background-image: linear-gradient(135deg, #ffffff 70%, #c1c1c1);
        }
    }
}

@mixin linkArrow {

    position: relative;

    &:hover::after {
        transform: translateX(15px);
    }

    &::after {
        position: absolute;
        left: 100%;
        content: "\203A";

        transition: transform 0.5s ease-in-out;
        color: $color-1;
    }
}