$font-color: rgb(25, 25, 25);
$font-color-light: #ffffff;
$focus-color: darken(dodgerblue, 20%);
$font-color-invalid: #e4323b;

$background-color: #ffffff;
$background-color-dark: rgb(25, 25, 25);

$z-index-overlay: 99999999;

// Fluid typography
// https://www.aleksandrhovhannisyan.com/blog/fluid-type-scale-with-css-clamp/
@use "sass:math";
@use "sass:list";


$type-scale: 1.2;
$type-steps: "sm", "base", "md", "lg", "xl", "xxl", "xxxl";
$type-base-index: list.index($type-steps, "base");

$type-base-min: 16px;
$type-base-max: 19px;

$type-scale-min: 1.2;
$type-scale-max: 1.333;
// ---------------

// Breackpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// max of page 
$max-width-screen: 1600px;
